body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #252A2E;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

h1 {
    text-align: center;
    color: #333;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-item h2 {
    margin-bottom: 5px;
}

.product-item p {
    margin: 5px 0;
}

.product-item {
    display: flex;
    align-items: center;
}

.product-item .product-image {
    width: 100px;
    height: 100px;
    margin-left: auto;
}

.product-item .product-details {
    flex: 1;
    padding-left: 10px;
}

/* formulario para agregar productos */

form {
    min-width: 400px;
    max-width: 600px;
    background-color: #e9bc70;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición para el efecto hover */
}

/* Botón de nuevo */
button.nuevo {
    background-color: #4f8962;
}

button.nuevo:hover {
    background-color: #5cbc74;
}

/* Botón de nuevo */
button.editar {
    background-color: #FFC107;
}

button.editar:hover {
    background-color: #FFD150;
    /* Un tono más oscuro de verde */
}

/* Botón de eliminar */
button.eliminar {
    background-color: #f44336;
    /* Rojo */
}

button.eliminar:hover {
    background-color: #da190b;
    /* Un tono más oscuro de rojo */
}

/* agregado a ultimo momento modal para confirmar eliminación de un articulo */
/* Estilos para la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #666262;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #888;
    max-width: 25%;
    text-align: center;
    border-radius: 10px;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.modal-content .confirm-button {
    background-color: green;
    color: white;
    border: none;
}

.modal-content .cancel-button {
    background-color: red;
    color: white;
    border: none;
}