<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>


    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="header-container">
        <header>
            <div class="logo">
                <a href="/">MANJARES COTIDIANOS</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/" onclick="closeMenu()">Inicio</a></li>
                    <li><a href="cart" onclick="closeMenu()">Productos</a></li>
                    <li><a href="sucursales" onclick="closeMenu()">Sucursales</a></li>
                    <li><a href="acerca" onclick="closeMenu()">Acerca de</a></li>
                    <li><a href="login" onclick="closeMenu()">Iniciar Sesion</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick=toggleMenu()>
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>


    </div>
    <div class="container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="alert alert-{{ category }}">
            <a>{{ message }}</a>
        </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
        <form action="#" method="POST">
            <input type="text" name="email" placeholder="correo registrado" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Iniciar Sesión">
        </form>
        <p>¿No tienes una cuenta? <a class="register-link" href="register">Regístrate</a></p>
    </div>

</body>
<script src="../static/javascript/index.js"></script>
<script src="../static/javascript/flash.js"></script>

</html>